<!DOCTYPE html >
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="referrer" content="no-referrer" />
    <!--[if lt IE 9]>
    <script src="/static/images/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/images/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link href="/static/images/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/font/iconfont.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/color.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/images/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript"src="/static/images/js/bootstrap.min.js"></script>
    <script type="text/javascript">var sitePath=''</script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/function.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/images/js/LazyLoad.js"></script>
    <script type="text/javascript" src="/static/images/js/swiper.min.js"></script>
    <script type="text/javascript " src="/static/images/js/history.js"></script>
    <title>从前有座灵剑山电视版在线播放-大陆剧-奈菲影视-永久免费的福利超清影视站，没有套路，完全免费！</title>
    <meta name="keywords" content="从前有座灵剑山电视版免费在线观看,从前有座灵剑山电视版剧情介绍,从前有座灵剑山电视版电影海报">
    <meta name="description" content="从前有座灵剑山电视版剧情:《从前有座灵剑山》（电视剧，腾讯动漫/阅文集团原生IP，2.9次元欢乐仙侠青春爽剧） 讲述了灵剑派..">
</head>
<body>
<div th:replace="~{common/header::header}"></div><!--顶部公共 -->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 hy-main-content">
            <div class="hy-video-details clearfix">
                <div class="item clearfix">
                    <dl class="content">
                        <dt><a class="videopic" href="javascript:;"
                               th:attr="title=${mvInfo.getMvName()}"
                               th:style="'background: url(' + ${mvInfo.getMvPicture()} + ')  no-repeat; background-position:50% 50%; background-size: cover;'">
                               <!--style="background: url(https://www.nfmovies.com/uploads/allimg/191113/8dcfb2b63e3b1cd3.jpg)  no-repeat; background-position:50% 50%; background-size: cover;"-->
                            <span class="play hidden-xs"></span><span class="note textbg">更新至20集</span></a></dt>
                        <dd class="clearfix">
                            <div class="head"><span class="hide hit text-color pull-right">人气：<span
                                    id="hit">加载中...</span><script type="text/javascript">getVideoHit('41149')</script></span>
                                <h3 th:text="${mvInfo.getMvName()}"></h3></div>


                            <ul>
                                <li><span class="text-muted" th:text="'主演：'+${mvInfo.getMvStar()}"></span>
                                </li>
                                <li><span class="text-muted">导演：</span><a href='javascript:;' th:text="${mvInfo.getMvDirector()}"></a>&nbsp;&nbsp;</li>
                                <li class="col-md-6 col-sm-6 hidden-xs padding-0"><span class="text-muted" th:text="'地区：'+${mvInfo.getMvCountry()}"></span>
                                </li>
                                <li class="col-md-6 col-sm-6 hidden-xs padding-0"><span class="text-muted" >类型：</span><a
                                        href="javascript:;" th:text="${mvInfo.getCategoryName()}" th:attr="title=${mvInfo.getCategoryName()}" ></a></li>
                                <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted" th:text="'语言：'+${mvInfo.getMvLanguage()}"></span>
                                </li>
                                <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted" th:text="'年份：'+${mvInfo.getMvShotYear()}"></span>
                                </li>
                                <li><span class="text-muted">剧情：</span></li>
                            </ul>
                            <div class="playlink hidden-md hidden-sm hidden-xs"><a class="btn btn-warning"
                                                                                  th:href="@{/video(mvId=${mvInfo.getMvId()})}" title="立即播放"><i
                                    class="icon iconfont icon-play"></i> 立即播放</a></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="hy-layout active clearfix">
                <div class="hy-switch-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="" data-toggle="tab" title="播放线路">播放线路</a></li>
                        <li><a href="" data-toggle="tab" title="剧情介绍">剧情介绍</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="hy-play-list tab-pane fade in active" id="list1">
                        <div class="item tyui" id="playlist">
                            <div class="panel clearfix"><a class="option" data-toggle="collapse" data-parent="#playlist"
                                                           href="" title="懒懒独家高清片源">懒懒独家高清片源 <span
                                    class="text-muted pull-right">推荐 <i class="icon iconfont icon-right"></i></span></a>
                                <div id="playlist1" class="playlist collapse in">
                                    <ul class="playlistlink-1 list-15256 clearfix">
                                        <li th:each="dramaSerie:${dramaSeries}">
                                            <a th:attr="title=${dramaSerie.getDramaNumber()}"  th:href="@{/video(mvId=${mvInfo.getMvId()},dramaSeriesId=${dramaSerie.getDramaId()})}"  target="_self" th:text="${dramaSerie.getDramaNumber()}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hy-play-list tab-pane fade in" id="list2">
                        <div class="item" id="downlist"></div>
                    </div>
                    <div class="hy-play-list tab-pane fade in" id="list3">
                        <div class="item">
                            <div class="plot" th:text="${mvInfo.getMvSynopsis()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a>
                        <h3 class="margin-0">猜你喜欢</h3></div>
                    <div class="swiper-container hy-switch">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="" title="从前有座灵剑山电视版"
                                                     data-original="https://www.nfmovies.comhttps://www.nfmovies.com/uploads/allimg/191113/8dcfb2b63e3b1cd3.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至20集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="" title="从前有座灵剑山电视版">从前有座灵剑山电视版</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        许凯,张榕容,朱元冰,高雨儿,郭晓婷,合文俊,郑雅文,李俊浩
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index1.html" title="时空来电"
                                                     data-original="/uploads/allimg/191024/f3ea99146af8e044.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index1.html"
                                                                                    title="时空来电">时空来电</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">杜淳,李小冉,王天辰</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index8.html" title="我爱你，这是最好的安排"
                                                     data-original="/uploads/allimg/201910/8019485ac48e6db2.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index8.html"
                                                                                    title="我爱你，这是最好的安排">我爱你，这是最好的安排</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs"> 张彬彬 / 郑合惠子 /
                                        孔舒航 / 高洋
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index9.html" title="热血少年"
                                                     data-original="/uploads/allimg/191023/9556c041cb024dc0.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至44集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index9.html"
                                                                                    title="热血少年">热血少年</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        黄子韬,张雪迎,刘宇宁,曹曦月,王劲松,张帆,朱杰,泓萱,卢星宇,黄少祺
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index13.html" title="鳄鱼与牙签鸟"
                                                     data-original="/uploads/allimg/191119/468303f4d15dd54b.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至7集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index13.html" title="鳄鱼与牙签鸟">鳄鱼与牙签鸟</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        张天爱,陈柏霖,吴昊宸,黄一琳,刘凯
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="鳄鱼与牙签鸟DVD版"
                                                     data-original="/uploads/allimg/191119/07b24ce79d233ef2.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至7集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="鳄鱼与牙签鸟DVD版">鳄鱼与牙签鸟DVD版</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        张天爱,陈柏霖,吴昊宸,黄一琳,刘凯
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index20.html" title="归鸿"
                                                     data-original="/uploads/allimg/191107/30d0fc6c47450aa6.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至34集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index20.html"
                                                                                    title="归鸿">归鸿</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        凌潇肃,富大龙,刘一含,石天琦,邵峰,李恩欣,仇永力,何政军,白凡,冯恩鹤,陈逸
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index22.html" title="希望的大地"
                                                     data-original="/uploads/allimg/191026/481712ee3324b45b.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至24集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index22.html" title="希望的大地">希望的大地</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        杨梓铎,姜妍,印小天,菅纫姿,林江国,宗峰岩,张丰毅,李幼斌,巫刚,侯勇,刘佳,林永健,李雪健,王丽云,徐佳,斓曦,张博宇,杨菲洋,南吉,王伟,柳小海,杨念生,温浩铎
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="初恋那件小事"
                                                     data-original="/uploads/allimg/191024/6e877660cb22f8ce.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至34集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="初恋那件小事">初恋那件小事</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        赖冠霖,赵今麦,柴蔚,王润泽,王博文
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="扑通扑通的青春"
                                                     data-original="/uploads/allimg/191024/2d472c8f283550e1.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至30集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="扑通扑通的青春">扑通扑通的青春</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        谷嘉诚,戚砚笛,查侬·散顶腾古,孙伟豪,方川,魏瑾,徐可珑
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon iconfont icon-back"></i></div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="第二次也很美"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>第二次也很美</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="心灵法医"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>心灵法医</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="最强狂兵"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>最强狂兵</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="彩虹的重力"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>彩虹的重力</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="谁的青春不叛逆2019"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>谁的青春不叛逆20..</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="都是一家人"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>都是一家人</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="河山"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>河山</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="红鲨突击"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>红鲨突击</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="我的机器人男友"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>我的机器人男友</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="幸福保卫战"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>幸福保卫战</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a>
                        <h3 class="margin-0">相关热播</h3></div>
                    <div class="swiper-container hy-switch">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index46.html" title="亲爱的热爱的"
                                                     data-original="/uploads/allimg/190709/713a6cd7c697d13f.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="score">3.0</span><span
                                        class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index46.html" title="亲爱的热爱的">亲爱的热爱的</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        杨紫,李现,胡一天,李鸿其,王真儿,李泽锋,姜珮瑶,王乐君
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index47.html" title="长安十二时辰"
                                                     data-original="/uploads/allimg/190627/88a5be07bfdef37f.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index47.html" title="长安十二时辰">长安十二时辰</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">易烊千玺 / 雷佳音 / 周一围
                                        / 杰曼·翰苏 / 韩童生
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index49.html" title="陈情令"
                                                     data-original="/uploads/allimg/190709/674a73b1d54345ff.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index49.html"
                                                                                    title="陈情令">陈情令</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">肖战 / 王一博 / 孟子义 /
                                        宣璐 / 李若彤
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index53.html" title="全职高手电视剧版"
                                                     data-original="/uploads/allimg/201907/11b7b7fc6cdd99b4.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至40集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index53.html"
                                                                                    title="全职高手电视剧版">全职高手电视剧版</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">杨洋 / 江疏影 / 赖雨濛 /
                                        梁森 / 李沐宸 / 更多...
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index55.html" title="小欢喜"
                                                     data-original="/uploads/allimg/190819/57e517f8b70be40c.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index55.html"
                                                                                    title="小欢喜">小欢喜</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        黄磊,海清,陶虹,王砚辉,咏梅,周奇,李庚希,郭子凡,刘奇,吴施乐,徐梵溪,王栎鑫,沙溢,任重
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="九州缥缈录"
                                                     data-original="/uploads/allimg/190716/f63e5118e1f978cc.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="九州缥缈录">九州缥缈录</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        刘昊然,宋祖儿,陈若轩,张嘉译,许晴,张丰毅,张志坚,江疏影,李光洁,王鸥,陈昊宇,张智尧,杨新鸣,冯晖,杨玏,多布杰
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;"
                                                     title="盗墓笔记之怒海潜沙&amp;秦岭神树"
                                                     data-original="/uploads/allimg/190607/ccd23cf4ba568617.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="盗墓笔记之怒海潜沙&amp;秦岭神树">盗墓笔记之怒海潜沙&amp;秦岭神树</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        侯明昊,成毅,李曼,张博宇,刘学义,姚奕辰,姚橹
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="老酒馆"
                                                     data-original="/uploads/allimg/190827/0492673013a34c96.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="老酒馆">老酒馆</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        陈宝国,秦海璐,冯雷,刘桦,程煜,冯恩鹤,王晓晨,巩汉林,方清平,牛犇,石兆琪,白志迪,曹可凡,岳红,张晞临,袁姗姗,屠洪刚,陈月末,姬他,谭峰,刚毅,寒青,王晓龙
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="宸汐缘"
                                                     data-original="/uploads/allimg/190715/f9fddae102b86f06.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="宸汐缘">宸汐缘</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        张震,倪妮,李东学,张芷溪,李嘉铭,海铃,刘芊含,张海宇,那广子,袁昊,王庆祥,黄海冰
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="烈火军校"
                                                     data-original="/uploads/allimg/190819/2fcbc0e117e61af0.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="烈火军校">烈火军校</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        白鹿,许凯,李程彬,尹正,董力,安悦溪,吴佳怡,高雨儿,左小青,邵兵,易柏辰,刘润南,王一哲,刘思博
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon iconfont icon-back"></i></div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="后宫·甄嬛传"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>后宫·甄嬛传</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="我的莫格利男孩"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>我的莫格利男孩</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="请赐我一双翅膀"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>请赐我一双翅膀</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="流淌的美好时光DVD版"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>流淌的美好时光DV..</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="Index32.html" title="在远方"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>在远方</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="少年派DVD版"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>少年派DVD版</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="爵迹临界天下"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>爵迹临界天下</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="天雷一部之春花秋月"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>天雷一部之春花秋月</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="陆战之王"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>陆战之王</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="法医秦明"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>法医秦明</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
            <div class="hy-layout clearfix">
                <div class="hy-details-qrcode side clearfix">
                    <div class="item"></div>
                </div>
                <div class="hy-video-ranking side clearfix">
                    <div class="head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a><h4><i
                            class="icon iconfont icon-top text-color"></i> 大陆剧排行榜</h4></div>
                    <div class="item">
                        <ul class="clearfix">
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="鬼吹灯之牧野诡事"><em
                                    class="number active">1</em>鬼吹灯之牧野诡事</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="秘果"><em
                                    class="number active">2</em>秘果</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="择天记"><em
                                    class="number active">3</em>择天记</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="白鹿原"><em
                                    class="number ">4</em>白鹿原</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="画心师"><em
                                    class="number ">5</em>画心师</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="龙珠传奇之无间道"><em
                                    class="number ">6</em>龙珠传奇之无间道</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="求婚大作战"><em
                                    class="number ">7</em>求婚大作战</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="欢乐颂2"><em
                                    class="number ">8</em>欢乐颂2</a></li>
                            <li class="text-overflow"><span class="pull-right text-color">0</span><a href="javascript:;"
                                                                                                     title="关东大先生"><em
                                    class="number ">9</em>关东大先生</a></li>
                        </ul>
                    </div>
                </div>
                <div class="hy-video-list side clearfix">
                    <div class="head"><a class="pull-right text-muted" href="javascript:;">更多 <i
                            class="icon iconfont icon-right"></i></a><h4>推荐专题</h4></div>
                    <div class="item">
                        <ul class="clearfix"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
		var swiper = new Swiper('.hy-slide', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        autoplay: 3000,
	        nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
	    });	 
	    var swiper = new Swiper('.hy-switch', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        slidesPerView: 5,
	        spaceBetween: 0,
	        nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
	        breakpoints: {
	            1200: {
	                slidesPerView: 4,
	                spaceBetween: 0
	            },
	            767: {
	                slidesPerView: 3,
	                spaceBetween: 0					            
	            }
	        }
	    });	 

</script>
<div class="tabbar visible-xs"><a href="../Index.html" class="item"><i class="icon iconfont icon-home"></i>
    <p class="text">首页</p></a><a href="../list/Index.html" class="item"><i class="icon iconfont icon-film"></i>
    <p class="text">电影 </p></a><a href="../list/Index1.html" class="item active"><i class="icon iconfont icon-show"></i>
    <p class="text">电视剧 </p></a><a href="../list/Index2.html" class="item"><i class="icon iconfont icon-flag"></i>
    <p class="text">综艺 </p></a><a href="../list/Index3.html" class="item"><i
        class="icon iconfont icon-mallanimation"></i>
    <p class="text">动漫 </p></a></div>
<div class="container">
    <div class="row">
        <div class="hy-footer clearfix"><p class="margin-0 text-muted">Copyright © 2019 All Rights Reserved
            <p>本站免费电影的所有内容都由网友提供，本站仅为网友提供信息的交流平台，所有电影版权归原权利人,仅供宽带测试之用，请勿将本网站免费电影用于商业用途，因此造成的任何责任与本站无关! </p></div>
    </div>
</div>
<div class="hidden-xs"><a href="" id="back-to-top" title="Back to top">&uarr;&uarr;&uarr;</a></div>
<span style="display:none"><script type="text/javascript">
var cnzz_s_tag = document.createElement('script');
cnzz_s_tag.type = 'text/javascript';
cnzz_s_tag.async = true;
cnzz_s_tag.charset = 'utf-8';
cnzz_s_tag.src = 'https://w.cnzz.com/c.php?id=1277238851&async=1';
var root_s = document.getElementsByTagName('script')[0];
root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
</script></span>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".videopic.lazy").lazyload({effect: "fadeIn"});
        $("[data-toggle='tooltip']").tooltip();
    });

</script>
<script type="text/javascript">
    if ($('#back-to-top').length) {
        var scrollTrigger = 100; // px

        // $(window).scrollTop()与 $(document).scrollTop()产生结果一样
        // 一般使用document注册事件，window使用情况如 scroll, scrollTop, resize
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        });

        $('#back-to-top').on('click', function (e) {
            // html,body 都写是为了兼容浏览器
            $('html,body').animate({
                scrollTop: 0
            }, 700);

            return false;
        });
    }


</script>
<script src="/static/js/20479577.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/front.js"></script>


<script src="/static/js/rocket-loader.min.js"
        data-cf-settings="|49" defer=""></script>
</body>
</html>