<!DOCTYPE html >
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="referrer" content="no-referrer" />
    <!--[if lt IE 9]>
    <script src="/static/images/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/images/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link href="/static/images/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/font/iconfont.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/color.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/images/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript"src="/static/images/js/bootstrap.min.js"></script>
    <script type="text/javascript">var sitePath=''</script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/function.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/images/js/LazyLoad.js"></script>
    <script type="text/javascript" src="/static/images/js/swiper.min.js"></script>
    <script type="text/javascript " src="/static/images/js/history.js"></script>
    <title>从前有座灵剑山电视版在线播放-大陆剧-奈菲影视-永久免费的福利超清影视站，没有套路，完全免费！</title>
    <meta name="keywords" content="从前有座灵剑山电视版免费在线观看,从前有座灵剑山电视版剧情介绍,从前有座灵剑山电视版电影海报">
    <meta name="description" content="从前有座灵剑山电视版剧情:《从前有座灵剑山》（电视剧，腾讯动漫/阅文集团原生IP，2.9次元欢乐仙侠青春爽剧） 讲述了灵剑派..">
</head>
<body>
<div th:replace="~{common/header::header}"></div><!--顶部公共 -->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 hy-main-content">
            <div class="hy-video-details clearfix">
                <div class="item clearfix">
                    <dl class="content">
                        <dt><a class="videopic" href="javascript:;"
                               th:attr="title=${mvInfo.getMvName()}"
                               th:style="'background: url(' + ${mvInfo.getMvPicture()} + ')  no-repeat; background-position:50% 50%; background-size: cover;'">
                               <!--style="background: url(https://www.nfmovies.com/uploads/allimg/191113/8dcfb2b63e3b1cd3.jpg)  no-repeat; background-position:50% 50%; background-size: cover;"-->
                            <span class="play hidden-xs"></span><span class="note textbg">更新至20集</span></a></dt>
                        <dd class="clearfix">
                            <div class="head"><span class="hide hit text-color pull-right">人气：<span
                                    id="hit">加载中...</span><script type="text/javascript">getVideoHit('41149')</script></span>
                                <h3 th:text="${mvInfo.getMvName()}"></h3></div>


                            <ul>
                                <li><span class="text-muted" th:text="'主演：'+${mvInfo.getMvStar()}"></span>
                                </li>
                                <li><span class="text-muted">导演：</span><a href='javascript:;' th:text="${mvInfo.getMvDirector()}"></a>&nbsp;&nbsp;</li>
                                <li class="col-md-6 col-sm-6 hidden-xs padding-0"><span class="text-muted" th:text="'地区：'+${mvInfo.getMvCountry()}"></span>
                                </li>
                                <li class="col-md-6 col-sm-6 hidden-xs padding-0"><span class="text-muted" >类型：</span><a
                                        href="javascript:;" th:text="${mvInfo.getCategoryName()}" th:attr="title=${mvInfo.getCategoryName()}" ></a></li>
                                <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted" th:text="'语言：'+${mvInfo.getMvLanguage()}"></span>
                                </li>
                                <li class="col-md-6 hidden-sm hidden-xs padding-0"><span class="text-muted" th:text="'年份：'+${mvInfo.getMvShotYear()}"></span>
                                </li>
                                <li><span class="text-muted">剧情：</span></li>
                            </ul>
                            <div class="playlink hidden-md hidden-sm hidden-xs"><a class="btn btn-warning"
                                                                                  th:href="@{/video(mvId=${mvInfo.getMvId()})}" title="立即播放"><i
                                    class="icon iconfont icon-play"></i> 立即播放</a></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="hy-layout active clearfix">
                <div class="hy-switch-tabs">
                    <ul class="nav nav-tabs">
                        <li id = "tab1" class="active"><a href="" data-toggle="tab" title="播放线路">播放线路</a></li>
                        <li id = "tab2"><a href="" data-toggle="tab" title="剧情介绍">剧情介绍</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="hy-play-list tab-pane fade in active" id="list1">
                        <div class="item tyui" id="playlist">
                            <div class="panel clearfix"><a class="option" data-toggle="collapse" data-parent="#playlist"
                                                           href="" title="懒懒独家高清片源">懒懒独家高清片源 <span
                                    class="text-muted pull-right">推荐 <i class="icon iconfont icon-right"></i></span></a>
                                <div id="playlist1" class="playlist collapse in">
                                    <ul class="playlistlink-1 list-15256 clearfix">
                                        <li th:each="dramaSerie:${dramaSeries}">
                                            <a th:attr="title=${dramaSerie.getDramaNumber()}"  th:href="@{/video(mvId=${mvInfo.getMvId()},dramaSeriesId=${dramaSerie.getDramaId()})}"  target="_self" th:text="${dramaSerie.getDramaNumber()}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hy-play-list tab-pane fade in" id="list2">
                        <div class="item">
                            <div class="plot" th:text="${mvInfo.getMvSynopsis()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a>
                        <h3 class="margin-0">猜你喜欢</h3></div>
                    <div class="swiper-container hy-switch">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="mv:${loveLists}">
                                <div class="item"><a class="videopic lazy" th:href="@{~/detail(mvId=${mv.getMvId()})}" th:attr="title=${mv.getMvName()}, data-original=${mv.getMvPicture()}"
                                                     style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至20集</span></a>
                                    <div class="title"><h5 class="text-overflow">
                                        <a  th:href="@{~/detail(mvId=${mv.getMvId()})}" th:attr="title=${mv.getMvName()}" th:text="${mv.getMvName()}"></a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs" th:text="${mv.getMvStar()}"></div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon iconfont icon-back"></i></div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 " th:each="mv:${briefLists}">
                                    <div class="title text-overflow"><a th:href="@{~/detail(mvId=${mv.getMvId()})}" th:attr="title=${mv.getMvName()}" th:text="${mv.getMvName()}"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span></a></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a>
                        <h3 class="margin-0">相关热播</h3></div>
                    <div class="swiper-container hy-switch">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index46.html" title="亲爱的热爱的"
                                                     data-original="/uploads/allimg/190709/713a6cd7c697d13f.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="score">3.0</span><span
                                        class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index46.html" title="亲爱的热爱的">亲爱的热爱的</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        杨紫,李现,胡一天,李鸿其,王真儿,李泽锋,姜珮瑶,王乐君
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index47.html" title="长安十二时辰"
                                                     data-original="/uploads/allimg/190627/88a5be07bfdef37f.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index47.html" title="长安十二时辰">长安十二时辰</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">易烊千玺 / 雷佳音 / 周一围
                                        / 杰曼·翰苏 / 韩童生
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index49.html" title="陈情令"
                                                     data-original="/uploads/allimg/190709/674a73b1d54345ff.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index49.html"
                                                                                    title="陈情令">陈情令</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">肖战 / 王一博 / 孟子义 /
                                        宣璐 / 李若彤
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index53.html" title="全职高手电视剧版"
                                                     data-original="/uploads/allimg/201907/11b7b7fc6cdd99b4.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">更新至40集</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index53.html"
                                                                                    title="全职高手电视剧版">全职高手电视剧版</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">杨洋 / 江疏影 / 赖雨濛 /
                                        梁森 / 李沐宸 / 更多...
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="Index55.html" title="小欢喜"
                                                     data-original="/uploads/allimg/190819/57e517f8b70be40c.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="Index55.html"
                                                                                    title="小欢喜">小欢喜</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        黄磊,海清,陶虹,王砚辉,咏梅,周奇,李庚希,郭子凡,刘奇,吴施乐,徐梵溪,王栎鑫,沙溢,任重
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="九州缥缈录"
                                                     data-original="/uploads/allimg/190716/f63e5118e1f978cc.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="九州缥缈录">九州缥缈录</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        刘昊然,宋祖儿,陈若轩,张嘉译,许晴,张丰毅,张志坚,江疏影,李光洁,王鸥,陈昊宇,张智尧,杨新鸣,冯晖,杨玏,多布杰
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;"
                                                     title="盗墓笔记之怒海潜沙&amp;秦岭神树"
                                                     data-original="/uploads/allimg/190607/ccd23cf4ba568617.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="盗墓笔记之怒海潜沙&amp;秦岭神树">盗墓笔记之怒海潜沙&amp;秦岭神树</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        侯明昊,成毅,李曼,张博宇,刘学义,姚奕辰,姚橹
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="老酒馆"
                                                     data-original="/uploads/allimg/190827/0492673013a34c96.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="老酒馆">老酒馆</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        陈宝国,秦海璐,冯雷,刘桦,程煜,冯恩鹤,王晓晨,巩汉林,方清平,牛犇,石兆琪,白志迪,曹可凡,岳红,张晞临,袁姗姗,屠洪刚,陈月末,姬他,谭峰,刚毅,寒青,王晓龙
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="宸汐缘"
                                                     data-original="/uploads/allimg/190715/f9fddae102b86f06.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;"
                                                                                    title="宸汐缘">宸汐缘</a></h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        张震,倪妮,李东学,张芷溪,李嘉铭,海铃,刘芊含,张海宇,那广子,袁昊,王庆祥,黄海冰
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item"><a class="videopic lazy" href="javascript:;" title="烈火军校"
                                                     data-original="/uploads/allimg/190819/2fcbc0e117e61af0.jpg"
                                                     style="background: url(....................................../static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span
                                        class="play hidden-xs"></span><span class="note textbg">完结</span></a>
                                    <div class="title"><h5 class="text-overflow"><a href="javascript:;" title="烈火军校">烈火军校</a>
                                    </h5></div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        白鹿,许凯,李程彬,尹正,董力,安悦溪,吴佳怡,高雨儿,左小青,邵兵,易柏辰,刘润南,王一哲,刘思博
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon iconfont icon-back"></i></div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="后宫·甄嬛传"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>后宫·甄嬛传</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="我的莫格利男孩"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>我的莫格利男孩</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="请赐我一双翅膀"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>请赐我一双翅膀</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="流淌的美好时光DVD版"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>流淌的美好时光DV..</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="Index32.html" title="在远方"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>在远方</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="少年派DVD版"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>少年派DVD版</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="爵迹临界天下"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>爵迹临界天下</a></div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow"><a href="javascript:;" title="天雷一部之春花秋月"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>天雷一部之春花秋月</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="陆战之王"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>陆战之王</a></div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow"><a href="javascript:;" title="法医秦明"><span
                                            class="pull-right"><i
                                            class="icon iconfont icon-right text-muted"></i></span>法医秦明</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
            <div class="hy-layout clearfix">
                <div class="hy-details-qrcode side clearfix">
                    <div class="item"></div>
                </div>
                <div class="hy-video-ranking side clearfix">
                    <div class="head"><a class="text-muted pull-right" href="javascript:;" title="更多">更多 <i
                            class="icon iconfont icon-right"></i></a><h4><i
                            class="icon iconfont icon-top text-color"></i> 排行榜</h4></div>
                    <div class="item">
                        <ul class="clearfix" >
                            <li class="text-overflow" th:each="mv:${holdLists}">
                                <span class="pull-right text-color" th:text="${mv.getMvViews()}"></span>
                                <a th:href="@{~/detail(mvId=${mv.getMvId()})}" th:attr="title=${mv.getMvName()}" th:text="${mv.getMvName()}">
                                    <em class="number active">1</em></a></li>
                        </ul>
                    </div>
                </div>
                <div class="hy-video-list side clearfix">
                    <div class="head"><a class="pull-right text-muted" href="javascript:;">更多 <i
                            class="icon iconfont icon-right"></i></a><h4>推荐专题</h4></div>
                    <div class="item">
                        <ul class="clearfix"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
		var swiper = new Swiper('.hy-slide', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        autoplay: 3000,
	        nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
	    });	 
	    var swiper = new Swiper('.hy-switch', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        slidesPerView: 5,
	        spaceBetween: 0,
	        nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
	        breakpoints: {
	            1200: {
	                slidesPerView: 4,
	                spaceBetween: 0
	            },
	            767: {
	                slidesPerView: 3,
	                spaceBetween: 0					            
	            }
	        }
	    });	 

</script>
<!--手机h5底部导航公共 -->
<div th:replace="~{common/tabbar::tabbar}"></div>

<div class="container">
    <div class="row">
        <div class="hy-footer clearfix"><p class="margin-0 text-muted">Copyright © 2019 All Rights Reserved
            <p>本站免费电影的所有内容都由网友提供，本站仅为网友提供信息的交流平台，所有电影版权归原权利人,仅供宽带测试之用，请勿将本网站免费电影用于商业用途，因此造成的任何责任与本站无关! </p></div>
    </div>
</div>
<div class="hidden-xs"><a href="" id="back-to-top" title="Back to top">&uarr;&uarr;&uarr;</a></div>
<span style="display:none"><script type="text/javascript">
var cnzz_s_tag = document.createElement('script');
cnzz_s_tag.type = 'text/javascript';
cnzz_s_tag.async = true;
cnzz_s_tag.charset = 'utf-8';
cnzz_s_tag.src = 'https://w.cnzz.com/c.php?id=1277238851&async=1';
var root_s = document.getElementsByTagName('script')[0];
root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
</script></span>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".videopic.lazy").lazyload({effect: "fadeIn"});
        $("[data-toggle='tooltip']").tooltip();
    });

</script>
<script type="text/javascript">
    if ($('#back-to-top').length) {
        var scrollTrigger = 100; // px

        // $(window).scrollTop()与 $(document).scrollTop()产生结果一样
        // 一般使用document注册事件，window使用情况如 scroll, scrollTop, resize
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        });

        $('#back-to-top').on('click', function (e) {
            // html,body 都写是为了兼容浏览器
            $('html,body').animate({
                scrollTop: 0
            }, 700);

            return false;
        });
    }

    $("#tab1").click(function(){
        $("#list1").addClass("active");
        $("#list2").removeClass("active");

    });

    $("#tab2").click(function(){
        $("#list1").removeClass("active");
        $("#list2").addClass("active");
    });


</script>
<script src="/static/js/20479577.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/front.js"></script>
<script src="/static/js/rocket-loader.min.js" data-cf-settings="|49" defer=""></script>
</body>
</html>