<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <link href="/static/images/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/hls.js}" type="text/javascript"></script>
    <script src="/static/js/20479577.js" type="text/javascript"></script>

</head>
<body>
hello worldssddsss
<img style="height: 200px;width: 200px" src="/static/dk.png">
</body>
</html>