<!DOCTYPE html >
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="referrer" content="no-referrer" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="/static/images/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/images/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/static/images/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="/static/images/font/iconfont.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/color.css" rel="stylesheet" type="text/css">
    <link href="/static/images/css/style.css?4" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" async="" charset="utf-8" src="https://c.cnzz.com/core.php?web_id=1277238851&amp;t=q"></script>
    <script type="text/javascript" async="" charset="utf-8" src="https://w.cnzz.com/c.php?id=1277238851&amp;async=1"></script>-->
    <script src="/static/images/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/images/js/bootstrap.min.js"></script>
    <script type="text/javascript">var sitePath = ''</script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/function.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/images/js/LazyLoad.js"></script>
    <script type="text/javascript" src="/static/images/js/swiper.min.js"></script>
    <script type="text/javascript " src="/static/images/js/history.js "></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.1/isMobile.min.js"
            integrity="sha256-aLR8fvqAYzAEIfWc+ip7mzCFBJXgGgYu6AXeAcgta5Q=" crossorigin="anonymous"
            type="text/javascript"></script>
    <title th:text="${mv.getMvName() +'-在线播放-懒懒影视-永久免费的福利超清影视站，没有套路，完全免费！'}"></title>
    <meta name="keywords" th:attr=" content= ${mv.getMvName()}+'-免费在线观看,'+${mv.getMvName()}+'-剧情介绍,'+${mv.getMvName()}+'-电影海报'">
    <meta name="description" th:attr="content=${mv.getMvSynopsis()}">
    <script src="/js/play.js?19112523" type="text/javascript"></script>
    <script integrity="sha256-S/UuH5LOnqk/MwJZQ9ANv+XnP/HI3cFQeu6KyC003A8=" crossorigin="anonymous"
            src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
</head>
<body>
<div th:replace="~{common/header::header}"></div><!--顶部公共 -->


<!--  广告位
<div class="container" style="display: block;">
    <div class="row">
        <div class="hy-layout clearfix" style="padding: 0">
            <div class="clearfix">
                <a href="#" onclick="if (!window.__cfRLUnblockHandlers) return false; openurl();return false;"
                   target="_blank"><img src="/pic/tu/a191124004.png" style="width: 100%"></a>
            </div>
        </div>
    </div>
</div>
-->

<div class="container playbox" style="display: block;">
    <div class="row">
        <div class="hy-player clearfix">
            <div class="item">
                <div class="col-md-9 col-sm-12 padding-0">
                    <div class="info clearfix">
                        <iframe id="cciframe" scrolling="no" frameborder="0" allowfullscreen="" width="100%"
                                height="100%"
                                th:src="@{/play(dramaId=${currentDramaSeries.getDramaId()})}">
                        </iframe>
                    </div>
                    <div class="footer clearfix">
                        <ul class="cleafix hidden-sm hidden-xs">
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><a style="line-height: 24px;"
                                                                                           href="###"
                                                                                           onclick="if (!window.__cfRLUnblockHandlers) return false; document.body.classList.toggle('lampswitch');return false;">开灯/关灯</a>
                            </li>
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><i
                                    class="icon iconfont icon-rewind1"></i><a href="/video/?40166-2-0.html">上一集</a></li>
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><a
                                    href="/video/?40166-2-2.html">下一集</a><i class="icon iconfont icon-fastforward"></i>
                            </li>
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><i
                                    class="icon iconfont icon-cion3"></i><a
                                    href="/err.php?id=40166&amp;errtxt=《日本Noir-刑事Y的叛乱- 第2集》无法播放，请修复！"> 报错</a></li>
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><i
                                    class="icon iconfont icon-icon_special"></i><a href="javascript:AddFav('40166','')">
                                收藏</a></li>
                            <li class="btn btn-sm btn-default" style="margin-top:10px;"><i
                                    class="icon iconfont icon-file"></i> <a
                                    href="/desktop.php?name=%E6%97%A5%E6%9C%ACNoir-%E5%88%91%E4%BA%8BY%E7%9A%84%E5%8F%9B%E4%B9%B1-&amp;url=https%3A%2F%2Fwww.nfmovies.com%2Fdetail%2F%3F40166.html">
                                桌面</a></li>
                        </ul>
                        <span class="text-muted">正在播放：</span><a th:href="@{/detail(mvId=${mv.getMvId()})}"  th:attr="title=${mv.getMvName()}" th:text="${mv.getMvName()}"></a><span th:text="'【'+${currentDramaSeries.getDramaNumber()}+'】'"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 padding-0">
                    <div class="sidebar">
                        <div class="hy-play-list play">
                            <div class="item tyui" id="playlist">
                                <div class="panel clearfix">
                                    <a class="option " data-toggle="collapse" data-parent="#playlist" href="#playlist3">
                                        <span class="text-muted pull-right">当前播放线路 <i
                                                class="icon iconfont icon-right"></i></span>
                                        奈菲独家高清片源
                                    </a>
                                    <div id="playlist3" class="playlist collapse in">
                                        <ul class="playlistlink-3 list-15256 clearfix" >
                                            <li th:each="dramaSerie:${dramaSeries}">
                                                <a th:attr="title=${dramaSerie.getDramaNumber()}"  th:href="@{/video(mvId=${mv.getMvId()},dramaSeriesId=${dramaSerie.getDramaId()})}"  style="color:red" target="_self" th:text="${dramaSerie.getDramaNumber()}" th:if="${currentDramaSeries.getDramaId() == dramaSerie.getDramaId()}"></a>
                                                <a th:attr="title=${dramaSerie.getDramaNumber()}"  th:href="@{/video(mvId=${mv.getMvId()},dramaSeriesId=${dramaSerie.getDramaId()})}"  target="_self" th:text="${dramaSerie.getDramaNumber()}" th:unless="${currentDramaSeries.getDramaId() == dramaSerie.getDramaId()}"></a>
                                            </li>
                                           <!-- <li><a title="第2集" href="/video/?40166-2-1.html" style="color:red" target="_self">第2集</a></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <!--<div class="panel clearfix">
                                    <a class="option collapsed" data-toggle="collapse" data-parent="#playlist"
                                       href="#playlist2">
                                        <span class="text-muted pull-right">备用1 <i class="icon iconfont icon-right"></i></span>
                                        ckm3u8
                                    </a>
                                    <div id="playlist2" class="playlist collapse ">
                                        <ul class="playlistlink-2 list-15256 clearfix">
                                            <li><a title="第01集" href="/video/?40166-1-0.html" target="_self">第01集</a>
                                            </li>
                                            <li><a title="第02集" href="/video/?40166-1-1.html" target="_self">第02集</a>
                                            </li>
                                            <li><a title="第03集" href="/video/?40166-1-2.html" target="_self">第03集</a>
                                            </li>
                                            <li><a title="第04集" href="/video/?40166-1-3.html" target="_self">第04集</a>
                                            </li>
                                            <li><a title="第05集" href="/video/?40166-1-4.html" target="_self">第05集</a>
                                            </li>
                                            <li><a title="第06集" href="/video/?40166-1-5.html" target="_self">第06集</a>
                                            </li>
                                            <li><a title="第07集" href="/video/?40166-1-6.html" target="_self">第07集</a>
                                            </li>
                                            <li><a title="第08集" href="/video/?40166-1-7.html" target="_self">第08集</a>
                                            </li>
                                            <li><a title="第09集" href="/video/?40166-1-8.html" target="_self">第09集</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="display: block;">
    <div class="row">
        <div class="col-md-9 col-sm-12 hy-main-content">
            <!-- 广告栏
            <div class="hy-layout clearfix" style="padding: 0;">
                <img src="/pic/tu/a191124003.png" style="max-width: 100%;cursor: pointer;"
                     onclick="if (!window.__cfRLUnblockHandlers) return false; openurl()">
            </div>-->
            <div class="hy-layout clearfix">
                <div class="hy-switch-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#list3" data-toggle="tab">剧情介绍</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="hy-play-list tab-pane fade in" id="list2">
                        <div class="item" id="downlist">
                        </div>
                    </div>
                    <div class="hy-play-list tab-pane fade in active" id="list3">
                        <div class="item">
                            <div class="plot" th:text="${mv.getMvSynopsis()}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head">
                        <h3 class="margin-0">猜你喜欢</h3>
                    </div>
                    <div class="swiper-container hy-switch swiper-container-horizontal">
                        <div class="swiper-wrapper"
                             style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?41609.html" title="东京大饭店~平古祥平摇摆的心"
                                       data-original="/uploads/allimg/191125/48d758b55197d02d.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至05集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?41609.html" title="东京大饭店~平古祥平摇摆的心">东京大饭店~平古祥平摇摆的心</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        木村拓哉,铃木京香,玉森裕太,宽一郎,朝仓亚纪,尾上菊之助,泽村一树,及川光博,手塚通,中村アン,富永爱,吉谷彩子,岩下尚史
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40725.html" title="东京大饭店"
                                       data-original="/uploads/allimg/201910/a8e20e288864c4ce.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至05集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40725.html" title="东京大饭店">东京大饭店</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        木村拓哉 / 铃木京香 / 玉森裕太 / 宽一郎 / 朝仓亚纪 / 更多...
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?41406.html" title="蝶之力学 杀人分析班"
                                       data-original="/uploads/allimg/201911/5fab56cbbfbe1c3a.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至02集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?41406.html" title="蝶之力学 杀人分析班">蝶之力学
                                            杀人分析班</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        木村文乃
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40814.html" title="大叔之爱第二季"
                                       data-original="/uploads/allimg/191104/a97c84b4bd69e706.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至06集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40814.html"
                                                                     title="大叔之爱第二季">大叔之爱第二季</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        田中圭,吉田钢太郎,千叶雄大,户次重幸,佐津川爱美,Megumi,正名仆蔵,木崎由里亚,铃鹿央士,片岡京子
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?41989.html" title="传奇王子2贵族诞生"
                                       data-original="/uploads/allimg/191204/1ee60f67149ed34d.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至02集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?41989.html" title="传奇王子2贵族诞生">传奇王子2贵族诞生</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        白滨亚岚,广濑智纪,中岛健,内藤大湖,荒牧庆彦,佐藤流司,袴田吉彦,板垣瑞生,前田公辉,山本耕史,川村一马,吉野北人,藤原树,长谷川慎
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40370.html" title="X医生：外科医生大门未知子 第6季"
                                       data-original="/uploads/allimg/191019/368eee191718ac0e.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至08集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40370.html"
                                                                     title="X医生：外科医生大门未知子 第6季">X医生：外科医生大门未知子 第6季</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        米仓凉子,内田有纪,远藤宪一,胜村政信,铃木浩介,岸部一德,西田敏行,中山裕介,市村正亲,武田真治,今田美樱,河北麻友子,户塚纯贵,藤森慎吾,松坂庆子,清
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40698.html" title="VIP"
                                       data-original="/uploads/allimg/191029/2f6b269517218f06.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至11集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40698.html" title="VIP">VIP</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        李相仑,张娜拉,李清娥, 郭善英,表艺珍,申在河
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40866.html" title="Miss事故调～天才‧天之教授的调查档案～"
                                       data-original="/uploads/allimg/191106/b9a7f3e1461a4fe0.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至07集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40866.html"
                                                                     title="Miss事故调～天才‧天之教授的调查档案～">Miss事故调～天才‧天之教授的调查档案～</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        松雪泰子,堀井新太,须藤理彩,高橋メアリージュン,余贵美子
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40167.html" title="Leverage：诈骗操作团"
                                       data-original="/uploads/allimg/201910/d1d248c9146fd05d.png"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至16集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40167.html" title="Leverage：诈骗操作团">Leverage：诈骗操作团</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        李东健 / 全慧彬 / 金赛纶 / 金权 / 吕会铉 / 更多...
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?40325.html" title="G弦上的你和我"
                                       data-original="/uploads/allimg/201910/74dc8e6712429b8f.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至08集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?40325.html"
                                                                     title="G弦上的你和我">G弦上的你和我</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        波瑠 / 中川大志 / 松下由树
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev swiper-button-disabled"><i class="icon iconfont icon-back"></i>
                        </div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?39753.html" title="CHEAT～各位欺诈师请注意～">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            CHEAT～各位欺..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?40899.html" title="优雅的母女">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            优雅的母女
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?41121.html" title="辅佐官2：改变世界的人们">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            辅佐官2：改变世界..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?40697.html" title="只走花路吧">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            只走花路吧
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?40510.html" title="抓住柳灵/抓住幽灵">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            抓住柳灵/抓住幽灵
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?40113.html" title="新手姐妹的双人餐桌">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            新手姐妹的双人餐桌
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?39581.html" title="绯红">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            绯红
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?40166.html" title="日本Noir-刑事Y的叛乱-">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            日本Noir-刑事..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow">
                                        <a href="/detail/?41985.html" title="坏爱情">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            坏爱情
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow">
                                        <a href="/detail/?41336.html" title="选拔屋～猎头的做派～">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            选拔屋～猎头的做派..
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hy-layout clearfix">
                <div class="hy-video-list">
                    <div class="hy-video-head">
                        <h3 class="margin-0">相关热播</h3>
                    </div>
                    <div class="swiper-container hy-switch swiper-container-horizontal">
                        <div class="swiper-wrapper"
                             style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?37842.html" title="全裸导演/AV帝王/全裸监督"
                                       data-original="/uploads/allimg/190819/7c014786a50f8b1f.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">国日双语（完结）</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?37842.html" title="全裸导演/AV帝王/全裸监督">全裸导演/AV帝王/全裸监督</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        山田孝之,满岛真之介,玉山铁二,柄本时生,伊藤沙莉,富手麻妙,后藤刚范,吉田钢太郎,板尾创路,余贵美子,小雪,中川雅也,国村隼,石桥凌
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?25659.html" title="轮到你了"
                                       data-original="/uploads/allimg/190419/12439bdd7bc9f624.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">完结</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?25659.html" title="轮到你了">轮到你了</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        原田知世,田中圭,西野七濑,浅香航大,奈绪,山田真步,三仓佳奈,大友花恋,金泽美穗,坪仓由幸,中尾畅树,小池亮介,井阪郁巳,荒木飞羽,袴田吉彦,片桐仁,真飞
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?37011.html" title="月之酒店/德鲁纳酒店"
                                       data-original="/uploads/allimg/201907/ff52c74fced90c54.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">完结</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?37011.html" title="月之酒店/德鲁纳酒店">月之酒店/德鲁纳酒店</a>
                                        </h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        李知恩 / 吕珍九
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?34978.html" title="阿斯达年代记"
                                       data-original="/uploads/allimg/190529/39933569d7d629e3.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至17集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?34978.html"
                                                                     title="阿斯达年代记">阿斯达年代记</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        宋仲基,张东健,金智媛,金玉彬
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?35791.html" title="辅佐官"
                                       data-original="/uploads/allimg/201906/b6b8a3b3395cd521.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至10集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?35791.html" title="辅佐官">辅佐官</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        李政宰，申敏儿
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?39207.html" title="流浪者/浪客行"
                                       data-original="/uploads/allimg/190921/0719a09d83abfe16.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至16集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?39207.html"
                                                                     title="流浪者/浪客行">流浪者/浪客行</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        李昇基,裴秀智,申成禄,郑满植,金民钟,白润植,李璟荣,文成根
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?35383.html" title="轮到你了 番外篇 房门之内"
                                       data-original="/uploads/allimg/190819/5caaed476b8de6f9.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">完结</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?35383.html" title="轮到你了 番外篇 房门之内">轮到你了
                                            番外篇 房门之内</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        片桐仁,峰村理惠,大方斐纱子,德井优,真飞圣,片冈礼子,田中要次,大友花恋,中尾畅树
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?16925.html" title="请回答1988"
                                       data-original="/uploads/allimg/190419/701d498928a680fe.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至20集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?16925.html"
                                                                     title="请回答1988">请回答1988</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        成东日,李日花,罗美兰,金成钧
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?39678.html" title="偶然发现的一天"
                                       data-original="/uploads/allimg/191003/0ecf7d671c2403b0.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">更新至32集</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?39678.html"
                                                                     title="偶然发现的一天">偶然发现的一天</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        金惠允,金路云,李宰旭,李娜恩,郑干柱,金永大,李敏豪,金智仁,金贤莫,郑艺鹿
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 131.667px;">
                                <div class="item">
                                    <a class="videopic lazy" href="/detail/?34770.html" title="春夜"
                                       data-original="/uploads/allimg/190524/a1aaae5f3a594251.jpg"
                                       style="background: url(/static/images/load.gif) no-repeat; background-position:50% 50%; background-size: cover;">
                                        <span class="play hidden-xs"></span>
                                        <span class="note textbg">完结</span>
                                    </a>
                                    <div class="title">
                                        <h5 class="text-overflow"><a href="/detail/?34770.html" title="春夜">春夜</a></h5>
                                    </div>
                                    <div class="subtitle text-muted text-muted text-overflow hidden-xs">
                                        韩智敏,丁海寅,金俊翰,李尚熙
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
                        <div class="swiper-button-prev swiper-button-disabled"><i class="icon iconfont icon-back"></i>
                        </div>
                    </div>
                    <div class="hy-video-text-list hidden-xs clearfix">
                        <div class="item">
                            <ul class="clearfix">
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?35419.html" title="请输入搜索词：WWW">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            请输入搜索词：WW..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?36533.html" title="60天，指定幸存者">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            60天，指定幸存者
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?12499.html" title="孤单又灿烂的神：鬼怪">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            孤单又灿烂的神：鬼..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?39587.html" title="绿豆传">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            绿豆传
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?14839.html" title="诈欺游戏">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            诈欺游戏
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?38176.html" title="风平浪静的闲暇">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            风平浪静的闲暇
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?37876.html" title="爱情适合我的体质/浪漫的体质">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            爱情适合我的体质/..
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 ">
                                    <div class="title text-overflow">
                                        <a href="/detail/?39148.html" title="山茶花开时">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            山茶花开时
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow">
                                        <a href="/detail/?14840.html" title="诈欺游戏2">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            诈欺游戏2
                                        </a>
                                    </div>
                                </li>
                                <li class="list5 hidden-sm">
                                    <div class="title text-overflow">
                                        <a href="/detail/?39914.html" title="他人即地狱">
                                            <span class="pull-right"><i class="icon iconfont icon-right text-muted"></i></span>
                                            他人即地狱
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
            <div class="hy-layout clearfix">
                <div class="hy-details-qrcode side clearfix">
                    <div class="item">


                    </div>
                </div>
                <div class="hy-video-ranking side clearfix">
                    <div class="head">
                        <a class="text-muted pull-right" href="/top.html#list-16">更多 <i
                                class="icon iconfont icon-right"></i></a>
                        <h4><i class="icon iconfont icon-top text-color"></i> 日韩剧排行榜</h4>
                    </div>
                    <div class="item">
                        <ul class="clearfix">
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?271.html" title="贵族侦探"><em class="number active">1</em>贵族侦探</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?242.html" title="Cross Road2~听之无声识之无形"><em
                                        class="number active">2</em>Cross Road2..</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?250.html" title="女囚七人"><em class="number active">3</em>女囚七人</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?251.html" title="我是你的命中注定"><em class="number ">4</em>我是你的命中注定</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?252.html" title="紧急审讯室第二季"><em class="number ">5</em>紧急审讯室第二季</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?253.html" title="其实并不在乎你"><em class="number ">6</em>其实并不在乎你</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?258.html" title="秘行要员"><em class="number ">7</em>秘行要员</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?259.html" title="小巨人"><em class="number ">8</em>小巨人</a>
                            </li>
                            <li class="text-overflow">
                                <span class="pull-right text-color">0</span>
                                <a href="/detail/?260.html" title="犯罪症候群"><em class="number ">9</em>犯罪症候群</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hy-video-list side clearfix">
                    <div class="head">
                        <a class="pull-right text-muted" href="/pages_topic/?1.html">更多 <i
                                class="icon iconfont icon-right"></i></a>
                        <h4>推荐专题</h4>
                    </div>
                    <div class="item">
                        <ul class="clearfix">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript ">
    $MH.recordHistory({
        name: '日本Noir-刑事Y的叛乱-',
        link: 'https://www.nfmovies.com/detail/?40166.html',
        pic: '/uploads/allimg/191015/1c1ea843b8abfd8f.jpg'
    })
</script>
<script type="text/javascript">
    var swiper = new Swiper('.hy-switch', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        slidesPerView: 5,
        spaceBetween: 0,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        breakpoints: {
            1200: {
                slidesPerView: 4,
                spaceBetween: 0
            },
            767: {
                slidesPerView: 3,
                spaceBetween: 0
            }
        }
    });
</script>
<div class="tabbar visible-xs">
    <a href="/" class="item">
        <i class="icon iconfont icon-home"></i>
        <p class="text">首页</p>
    </a>
    <a href="/list/?1.html" class="item">
        <i class="icon iconfont icon-film"></i>
        <p class="text">电影 </p>
    </a>
    <a href="/list/?2.html" class="item active">
        <i class="icon iconfont icon-show"></i>
        <p class="text">电视剧 </p>
    </a>
    <a href="/list/?3.html" class="item">
        <i class="icon iconfont icon-flag"></i>
        <p class="text">综艺 </p>
    </a>
    <a href="/list/?4.html" class="item">
        <i class="icon iconfont icon-mallanimation"></i>
        <p class="text">动漫 </p>
    </a>


</div>
<div class="container" style="display: block;">
    <div class="row">
        <div class="hy-footer clearfix">
            <p class="margin-0 text-muted">Copyright © 2019 All Rights Reserved
            </p>
            <p>本站免费电影的所有内容都由网友提供，本站仅为网友提供信息的交流平台，所有电影版权归原权利人,仅供宽带测试之用，请勿将本网站免费电影用于商业用途，因此造成的任何责任与本站无关! </p>
            <p></p>
        </div>
    </div>
</div>
<!--  侧边栏广告 -->
<!--
<style>
    #adleft, #adright {
        position: fixed;
        z-index: 9999;
        background: transparent;
        cursor: pointer;
        width: 120px;
    }

    #adleft {
        bottom: 50%;
        left: 20px;
    }

    #adright {
        bottom: 50%;
        right: 20px;
    }

    #adleft img, #adright img {
        background: #fff;
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid #ddd;
        width: 120px;
    }

    #adleft span, #adright span {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1px 5px;
        position: absolute;
        color: #fff;
        font-size: 12px;
    }

    #adleft span {
        left: 1px;
        top: 1px;
    }

    #adright span {
        right: 1px;
        top: 1px;
    }

</style>
<div class="hidden-xs">
    <div id="adleft">
        <img src="/pic/tu/a191124001.png" onclick="if (!window.__cfRLUnblockHandlers) return false; openurl()">
        <span>关闭</span>
    </div>
    <div id="adright">
        <img src="/pic/tu/a191124001.png" onclick="if (!window.__cfRLUnblockHandlers) return false; openurl()">
        <span>关闭</span>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#adleft span').click(function () {
            $('#adleft').hide();
        });
        $('#adright span').click(function () {
            $('#adright').hide();
        })
    });
</script>
-->
<div class="hidden-xs"><a href="#" id="back-to-top" title="Back to top">↑↑↑</a></div>
<span style="display:none"><script type="text/javascript">
var cnzz_s_tag = document.createElement('script');
cnzz_s_tag.type = 'text/javascript';
cnzz_s_tag.async = true;
cnzz_s_tag.charset = 'utf-8';
cnzz_s_tag.src = 'https://w.cnzz.com/c.php?id=1277238851&async=1';
var root_s = document.getElementsByTagName('script')[0];
root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
</script></span>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".videopic.lazy").lazyload({effect: "fadeIn"});
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<div style="display:none;"><span id="hit">4912</span>
    <script type="text/javascript">getVideoHit('40166')</script>
</div>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon="{&quot;rayId&quot;:&quot;543deceeaf91ddab&quot;,&quot;version&quot;:&quot;2019.10.2&quot;,&quot;startTime&quot;:1576135119337}"></script>

</body>
</html>